<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.goodomen.hiddenpiece.model.mapper.AuctionBoardMapper">
	<resultMap type="org.goodomen.hiddenpiece.controller.AuctionBoardCommentVO" id="commentResultMap">
		<result column="content" property="AuctionBoardCommentVO.content"/>
		<result column="id" property="AuctionBoardCommentVO.id"/>
		<result column="time_posted" property="AuctionBoardCommentVO.time_posted"/>
	</resultMap>

	<sql id="selectAuctionBoardPostList">
		SELECT * FROM AuctionBoard
	</sql>
	
	<!-- 경매게시판 총 게시물 수 -->
	<select id="searchAuctionBoardListCnt" resultType="int" parameterType="org.goodomen.hiddenpiece.model.vo.Criteria"> 
	
									
									
									 select count(*) from (
    	select  	*
								from auctionboard ab , hp_member hpm
								where post_status in (1,2,3)
								and  hpm.id=ab.id
								)
									where 1=1
								<if test="searchKeyword!=null and searchKeyword!=''">
										and content LIKE '%'||#{searchKeyword}||'%' OR title LIKE '%'||#{searchKeyword}||'%'
									</if>
										 <if test="status!=null and status!=''">
										and post_status=#{status}
									</if>
										
										
	</select>
	
	<select id="boardList" resultType="org.goodomen.hiddenpiece.model.vo.AuctionBoardPostVO" parameterType="org.goodomen.hiddenpiece.model.vo.Criteria">
			SELECT *
			 from (
							select 
										ROWNUM rm, 
										post_no,
										content, 
										title, 
										photo, 
										start_price, 
										sell_price, 
										current_price, 
										id, 
										time_posted, 
										hits, 
										end_date, 
										now_id, 
										post_status 
							from (
										select 
											post_no,
											content, 
											title,
											photo,
											start_price, 
											sell_price, 
											current_price, 
											hpm.id,
											time_posted, 
											hits, 
											end_date, 
											now_id, 
											post_status
										from auctionboard ab
										inner join hp_member hpm on hpm.id=ab.id
										where post_status=1 or post_status=2 or post_status=3 
										order by post_no desc
									)
							)
					<![CDATA[
					where rm between #{pageStart} and #{perPageNum}*#{page}
					]]>
	</select>
	
	<!--  경매게시판 검색 리스트 -->
	<select id="searchPostByKeyword"  resultType="org.goodomen.hiddenpiece.model.vo.AuctionBoardPostVO"  parameterType="org.goodomen.hiddenpiece.model.vo.Criteria">
		select * 
		from (
					select ROWNUM rm
								, A.* 
					from (
									select  	 post_no
													,content
													, title
													,photo
													,start_price
													, sell_price
													, current_price
													, hpm.id
													,time_posted
													, hits
													, end_date
													, now_id
													, post_status
											from auctionboard ab , hp_member hpm
											where post_status in (1,2,3)
											and  hpm.id=ab.id
											order by post_no desc
								) A
					where 1=1
					<if test="searchKeyword!=null and searchKeyword!=''">
							and content LIKE '%'||#{searchKeyword}||'%' OR title LIKE '%'||#{searchKeyword}||'%'
					</if>
					 <if test="status!=null and status!=''">
							and post_status=#{status}
					</if>
			<![CDATA[ 
			)where rm between #{pageStart} and #{perPageNum}*#{page}
			]]>
	</select>
	
	<select id="auctionBoardListCnt" resultType="int">
		SELECT COUNT(*) FROM AuctionBoard WHERE post_status=1 or post_status=2 or post_status=3
	</select>
	
	<!-- 경매 게시판 상세 게시물 조회  -->
	<select id="findAuctionBoardPostDetail" parameterType="long" resultType="org.goodomen.hiddenpiece.model.vo.AuctionBoardPostVO">
		SELECT * FROM AuctionBoard WHERE post_no=#{value}
	</select>

	<!-- 경매 게시판 게시물 리스트 조회 -->
	<select id="findAuctionBoardPostList" resultType="org.goodomen.hiddenpiece.model.vo.AuctionBoardPostVO">
		<include refid="selectAuctionBoardPostList"></include> WHERE post_status=1 or post_status=2 or post_status=3 order by post_no desc 
	</select>

	<!-- 경매 게시판 상세 게시물의 댓글 리스트 조회  -->
	<select id="findAuctionBoardCommentListByPostNo" parameterType="Long" resultType="org.goodomen.hiddenpiece.controller.AuctionBoardCommentVO">
	 	SELECT *
		FROM AuctionBoard_Comment 
		WHERE post_no=#{postNo}
	</select>
	
	<select id="writeComment" parameterType="org.goodomen.hiddenpiece.controller.AuctionBoardCommentVO">
		INSERT INTO AuctionBoard_Comment VALUES(AuctionBoard_Comment_seq.nextval, #{postNo}, #{id}, #{content}, SYSDATE, 1)
	</select>
	
	<update id="changeCommentStatus" parameterType="long">
		UPDATE AuctionBoard_Comment SET comment_status=0 WHERE comment_no=#{value}
	</update>
	
	<select id="selectCommentByCommentNo" resultType="string" parameterType="long">
		SELECT content FROM AuctionBoard_Comment WHERE comment_no=#{value}
	</select>

	<insert id="writeAuctionBoardPost" parameterType="org.goodomen.hiddenpiece.model.vo.AuctionBoardPostVO">
		INSERT INTO AuctionBoard VALUES(AuctionBoard_seq.nextval,#{id},#{title},#{content},#{photo},#{startPrice},#{startPrice},#{sellPrice},DEFAULT,DEFAULT,TO_Date(#{endDate},'YYYY-MM-DD HH24:MI'),' ',DEFAULT)
	</insert>

	<update id="updateComment" parameterType="org.goodomen.hiddenpiece.controller.AuctionBoardCommentVO">
		UPDATE AuctionBoard_Comment SET content=#{content} WHERE comment_no=#{commentNo}
	</update>
	
	<!-- 찜하기 버튼 눌렀을 때 -->
	<insert id="addToWishlist" parameterType="org.goodomen.hiddenpiece.model.vo.AuctionBoardLikesVO">
		INSERT INTO AuctionBoard_Likes VALUES(#{postNo}, #{id})
	</insert>
	
	<!-- 글삭제 -->
	<update id="deleteAuctionBoardPost" parameterType="long" >
		UPDATE AuctionBoard SET post_status = 0 WHERE post_no=#{value}
	</update>
	
	<!-- 글수정 -->
	<update id="updateAuctionBoardPost" parameterType="org.goodomen.hiddenpiece.model.vo.AuctionBoardPostVO">
		UPDATE AuctionBoard SET title = #{title}, content=#{content} WHERE post_no=#{postNo} 
	</update>
	
	<update id="bidAuctionBoardPost" parameterType="org.goodomen.hiddenpiece.model.vo.AuctionBoardPostVO">
		UPDATE AuctionBoard SET now_id=#{id}, current_price=#{currentPrice} WHERE post_no = #{postNo}
	</update>
	
	<update id="updateMemberPoint" parameterType="org.goodomen.hiddenpiece.model.vo.AuctionBoardPostVO">
		UPDATE HP_Member SET point = point - #{currentPrice} WHERE id = #{id}
	</update>
	
	<update id="reverseBidAuctionBoardPost" parameterType="org.goodomen.hiddenpiece.model.vo.AuctionBoardPostVO">
		UPDATE HP_Member SET point = point + (SELECT current_price FROM AuctionBoard WHERE post_no = #{postNo})
		 WHERE id = (SELECT now_id FROM AuctionBoard WHERE post_no = #{postNo})
	</update>
	
	<select id="findAuctionBoardPostNowId" parameterType="org.goodomen.hiddenpiece.model.vo.AuctionBoardPostVO" resultType="string">
		SELECT now_id FROM AuctionBoard WHERE post_no=#{postNo}
	</select>
	
	<update id="buyAuctionBoardPost" parameterType="org.goodomen.hiddenpiece.model.vo.AuctionBoardPostVO">
		UPDATE AuctionBoard SET post_status = 2, now_id=#{id}, current_price=sell_price WHERE post_no=#{postNo}
	</update>
	
	<update id="updateMemberPointbuy" parameterType="org.goodomen.hiddenpiece.model.vo.AuctionBoardPostVO">
		UPDATE HP_Member SET point = point- #{sellPrice} WHERE id=#{id}
	</update>
	
	<update id="addHits" parameterType="long">
		UPDATE AuctionBoard SET hits = hits+1 WHERE post_no = #{value}
	</update>
	<select id="checkBidList" parameterType="org.goodomen.hiddenpiece.model.vo.AuctionBoardPostVO" resultType="int">
		SELECT COUNT(*) FROM Bid_List WHERE id = #{id} AND post_no=#{postNo}
	</select>
	<insert id="addBidList" parameterType="org.goodomen.hiddenpiece.model.vo.AuctionBoardPostVO">
		INSERT INTO Bid_List VALUES(#{id},Bid_List_seq.nextval,#{postNo})
	</insert>
</mapper>