<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="org.goodomen.hiddenpiece.model.mapper.AuctionBoardMapper">


	<resultMap type="org.goodomen.hiddenpiece.controller.AuctionBoardCommentVO" id="commentResultMap">
		<result column="content" property="AuctionBoardCommentVO.content"/>
		<result column="id" property="AuctionBoardCommentVO.id"/>
		<result column="time_posted" property="AuctionBoardCommentVO.time_posted"/>
	</resultMap>

	

	<sql id="selectAuctionBoardPostList">
		SELECT * FROM AuctionBoard
	</sql>
	

	<!-- 경매 게시판 상세 게시물 조회  -->
	<select id="findAuctionBoardPostDetail" parameterType="long" resultType="org.goodomen.hiddenpiece.model.vo.AuctionBoardPostVO">
		SELECT * FROM AuctionBoard WHERE post_no=#{value}
	</select>
	

	<!-- 경매 게시판 게시물 리스트 조회 -->
	<select id="findAuctionBoardPostList" resultType="org.goodomen.hiddenpiece.model.vo.AuctionBoardPostVO">
		<include refid="selectAuctionBoardPostList"></include> WHERE post_status=1 order by post_no desc 
	</select>

	
	<!-- 경매 게시판 상세 게시물의 댓글 리스트 조회  -->
	<select id="findAuctionBoardCommentListByPostNo" parameterType="Long" resultType="org.goodomen.hiddenpiece.controller.AuctionBoardCommentVO">
	 	SELECT *
		FROM AuctionBoard_Comment 
		WHERE post_no=#{postNo}
	</select>
	
	<select id="writeComment" parameterType="org.goodomen.hiddenpiece.controller.AuctionBoardCommentVO">
		INSERT INTO AuctionBoard_Comment VALUES(AuctionBoard_Comment_seq.nextval, #{postNo}, #{id}, #{content}, SYSDATE, 1)
	</select>
	
	<update id="changeCommentStatus" parameterType="long">
		UPDATE AuctionBoard_Comment SET comment_status=0 WHERE comment_no=#{value}
	</update>
	
	<select id="selectCommentByCommentNo" resultType="string" parameterType="long">
		SELECT content FROM AuctionBoard_Comment WHERE comment_no=#{value}
	</select>

	<insert id="writeAuctionBoardPost" parameterType="org.goodomen.hiddenpiece.model.vo.AuctionBoardPostVO">
		INSERT INTO AuctionBoard VALUES(AuctionBoard_seq.nextval, #{id}, #{title}, #{content}, '꾸깃.PNG', #{startPrice}, #{startPrice}, #{sellPrice}, DEFAULT, DEFAULT, TO_DATE(#{endDate},'YYYY-MM-DD HH24:MI'), ' ', DEFAULT)
	</insert>
	<update id="deleteAuctionBoardPost" parameterType="long">
		UPDATE AutionBoard SET status=0 WHERE postNo=#{value}
	</update>

	<update id="updateComment" parameterType="org.goodomen.hiddenpiece.controller.AuctionBoardCommentVO">
		UPDATE AuctionBoard_Comment SET content=#{content} WHERE comment_no=#{commentNo}
	</update>
	
	<!-- 찜하기 버튼 눌렀을 때 -->
	<insert id="addToWishlist" parameterType="org.goodomen.hiddenpiece.model.vo.AuctionBoardLikesVO">
		INSERT INTO AuctionBoard_Likes VALUES(#{postNo}, #{id})
	</insert>
</mapper>