<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="org.goodomen.hiddenpiece.model.mapper.FreeBoardMapper">
	<select id="findFreeBoardPostList" resultType="org.goodomen.hiddenpiece.model.vo.FreeBoardVO">
		select * from freeboard where post_status=1 or post_status=2 or post_status=3 order by post_no desc
	</select>
	<select id="findFreeBoardPostDetail" parameterType="long" resultType="org.goodomen.hiddenpiece.model.vo.FreeBoardVO">
		select * from freeboard where post_no=#{value}
	</select>
	<insert id="writePost" parameterType="org.goodomen.hiddenpiece.model.vo.FreeBoardVO">
		insert into freeboard(post_no,contend,time_posted,title,id) values(freeboard_seq.nextval,#{contend},sysdate,#{title},#{id})
	</insert>
	<update id="updatePost" parameterType="org.goodomen.hiddenpiece.model.vo.FreeBoardVO">
		update freeboard set title=#{title}, contend=#{contend} where post_no=#{postNo}
	</update>
	<update id="deletePost" parameterType="long">
		update freeboard set post_status =0 where post_no=#{value}
	</update>
	<update id="updateHits" parameterType="long">
		update freeboard set hits=hits+1 where post_no=#{value}
	</update>
	
	<select id="findFreeBoardCommentListByPostNo" parameterType="Long" resultType="org.goodomen.hiddenpiece.model.vo.FreeBoardCommentVO">
	 	SELECT *
		FROM freeboard_Comment 
		WHERE post_no=#{postNo}
	</select>
	<insert id="writeComment" parameterType="org.goodomen.hiddenpiece.model.vo.FreeBoardCommentVO">
		INSERT INTO freeboard_Comment VALUES(#{postNo},FreeBoard_Comment_seq.nextval,#{id},sysdate,#{content}, 1)
	</insert>
	<select id="selectCommentByCommentNo" resultType="string" parameterType="long">
		SELECT content FROM freeboard_Comment WHERE comment_no=#{value}
	</select>
	<update id="updateComment" parameterType="org.goodomen.hiddenpiece.model.vo.FreeBoardCommentVO">
		UPDATE freeboard_Comment SET content=#{content} WHERE comment_no=#{commentNo}
	</update>
	<update id="changeCommentStatus" parameterType="long">
		UPDATE freeboard_Comment SET comment_status=0 WHERE comment_no=#{value}
	</update>
</mapper>