<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="org.goodomen.hiddenpiece.model.mapper.FreeBoardMapper">
	<select id="findFreeBoardPostList" resultType="org.goodomen.hiddenpiece.model.vo.FreeBoardVO">
		select * from freeboard order by post_no desc
	</select>
	<select id="findFreeBoardPostDetail" parameterType="long" resultType="org.goodomen.hiddenpiece.model.vo.FreeBoardVO">
		select * from freeboard where post_no=#{value}
	</select>
	<insert id="writePost" parameterType="org.goodomen.hiddenpiece.model.vo.FreeBoardVO">
		insert into freeboard(post_no,contend,time_posted,title,id) values(freeboard_seq.nextval,#{contend},sysdate,#{title},#{id})
	</insert>
	<update id="updatePost" parameterType="org.goodomen.hiddenpiece.model.vo.FreeBoardVO">
		update freeboard set title=#{title}, contend=#{contend} where post_no=#{postNo}
	</update>
	<delete id="deletePost" parameterType="long">
		delete from freeboard where post_no=#{value}
	</delete>
</mapper>