<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.goodomen.hiddenpiece.model.mapper.MemberMapper">
	<select id="login" parameterType="org.goodomen.hiddenpiece.model.vo.MemberVO" resultType="org.goodomen.hiddenpiece.model.vo.MemberVO">
		select * from HP_Member where id=#{id} and password=#{password} and status=1
	</select>

	<insert id="registerMember" parameterType="org.goodomen.hiddenpiece.model.vo.MemberVO">
	insert into HP_Member 
	values(#{id},#{email},#{address},0,#{name},#{nickName},#{accountNo},#{password},#{tel},1)	
	</insert>

	<select id="findId" resultType="String">
		Select id from HP_Member where email=#{email} and address=#{address} and name=#{name} and tel=#{tel} and status = 1
	</select>
	
	<select id="findPassword" resultType="String">
		Select password from HP_Member where id=#{id} and email=#{email} and name=#{name} and tel=#{tel} and status = 1
	</select>


	<update id="updateMember">
         Update HP_Member set email=#{email},address=#{address},name=#{name},
         nickname=#{nickName},password=#{password},tel=#{tel} where id = #{id}
   </update>
   <select id="findMemberById" resultType="org.goodomen.hiddenpiece.model.vo.MemberVO">
      select * from HP_member where id =#{id}
   </select>
	
	
	<!-- 찜 목록 -->
	<select id="selectMyWishlist" resultType="org.goodomen.hiddenpiece.model.vo.AuctionBoardPostVO" parameterType="String">
		SELECT ab.post_no, ab.id, ab.title, ab.content, ab.photo, ab.start_price, ab.current_price, ab.sell_price, ab.time_posted, ab.hits, ab.end_date, ab.now_id, ab.post_status, abl.post_no
		FROM AuctionBoard ab
		INNER JOIN AuctionBoard_Likes abl ON ab.post_no=abl.post_no
		WHERE abl.id=#{value}
	</select>
	
	<!-- 찜목록에서 삭제 -->
	<delete id="deleteFromWishlist" parameterType="org.goodomen.hiddenpiece.model.vo.AuctionBoardLikesVO">
		DELETE FROM AuctionBoard_Likes WHERE post_no=#{postNo} AND id=#{id}
	</delete>
	
	<!-- 찜 목록에 존재하는지 확인 -->
	<select id="checkWishlist" parameterType="org.goodomen.hiddenpiece.model.vo.AuctionBoardLikesVO" resultType="int">
		SELECT count(*) FROM AuctionBoard_Likes WHERE post_no=#{postNo} AND id=#{id}
	</select>
	
	<update id="deleteMember">
			Update HP_Member set status = 0 where id =#{id}
	</update>
	
	<select id="checkId" resultType="int">
	Select count(*) from HP_Member where id = #{id}	
	</select>
	
	<select id="findMemberByAccount" resultType="org.goodomen.hiddenpiece.model.vo.MemberVO">
	Select * from HP_member where account_no = #{accountNo}
	</select>
	
	<select id="findAccountInfoByAccountNo" resultType="org.goodomen.hiddenpiece.model.vo.AccountVO">
	Select * from ACCOUNT_INFO where account_no =#{accountNo}
	</select>
	
	<update id="exchangePoint">
	update HP_Member set point=point + #{balance} where name =#{name} 
	</update>
	<update id="withdrawPoint">
	update Account_Info set balance=balance-#{balance} where account_No=#{accountNo} and bank =#{bank}
	</update>

</mapper>