<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="org.goodomen.hiddenpiece.model.mapper.MyPageMapper">
	<select id="findBiddingCountFromBidList" resultType="int" parameterType="string">
		SELECT COUNT(*)
		 FROM AuctionBoard a, Bid_List b
		WHERE a.post_no = b.post_no
		  		AND a.id = #{id}
		  		AND a.post_status = 1
	</select>
	<select id="findBiddingListFromBidList" resultType="org.goodomen.hiddenpiece.model.vo.AuctionBoardPostVO" parameterType="org.goodomen.hiddenpiece.model.vo.CriteriaAndIdVO">
		SELECT a.post_no ,a.id ,a.title ,a.content ,a.photo ,a.start_price ,a.current_price ,a.sell_price ,a.time_posted ,a.hits ,a.end_date ,a.now_id , a.post_status
	  	FROM AuctionBoard a, Bid_List b
	 	WHERE a.post_no = b.post_no
	   			AND a.id = #{id}
	   			AND b.id = #{id}
	   			AND a.post_no = b.post_no
	   			AND a.post_status = 1
	</select>
</mapper>