<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout}"
> <!--/* 위 선언은 타임리프 레이아웃을 사용하기 위한 설정   */-->
<head>
<title>HiddenPiece</title>
</head>
<div layout:fragment="content">
    <!-- Shop Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
        	<div class="col-lg-3 col-md-4">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter</span></h5>
                <div class="bg-light p-4 mb-30">
					<th:block th:if="${paging.Cri.tag}==0">
						<input type = "checkbox" name = "tag" value = "0" onclick='checkOnlyOne(this); sendinfo(this)' checked>&nbsp;&nbsp;&nbsp;전체<br><br>
					    <input type = "checkbox" name = "tag" value = "1" onclick='checkOnlyOne(this); sendinfo(this)'>&nbsp;&nbsp;&nbsp;진행중<br><br>
					    <input type = "checkbox" name = "tag" value = "2" onclick='checkOnlyOne(this); sendinfo(this)'>&nbsp;&nbsp;&nbsp;종료
					    <input type = "hidden" id = "checkedValue" value="0">
					 </th:block>
					<th:block th:if="${paging.Cri.tag}==1">
						<input type = "checkbox" name = "tag" value = "0" onclick='checkOnlyOne(this); sendinfo(this)'>&nbsp;&nbsp;&nbsp;전체<br><br>
					    <input type = "checkbox" name = "tag" value = "1" onclick='checkOnlyOne(this); sendinfo(this)' checked>&nbsp;&nbsp;&nbsp;진행중<br><br>
					    <input type = "checkbox" name = "tag" value = "2" onclick='checkOnlyOne(this); sendinfo(this)'>&nbsp;&nbsp;&nbsp;종료
					    <input type = "hidden" id = "checkedValue" value="1">
					 </th:block>
					 <th:block th:if="${paging.Cri.tag}==2">
						<input type = "checkbox" name = "tag" value = "0" onclick='checkOnlyOne(this); sendinfo(this)'>&nbsp;&nbsp;&nbsp;전체<br><br>
					    <input type = "checkbox" name = "tag" value = "1" onclick='checkOnlyOne(this); sendinfo(this)'>&nbsp;&nbsp;&nbsp;진행중<br><br>
					    <input type = "checkbox" name = "tag" value = "2" onclick='checkOnlyOne(this); sendinfo(this)' checked>&nbsp;&nbsp;&nbsp;종료
					    <input type = "hidden" id = "checkedValue" value="2">
					 </th:block>
                </div>
            </div>
            <!-- Shop Product Start -->
            <div class="col-lg-9 col-md-8">
                <div class="row pb-3">
                    <div class="col-12 pb-1">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <div>
                            	<th:block th:if="${session.mvo}">
					            	<input type = "hidden" id="id" th:value="${session.mvo.id}">
					            </th:block>
                            </div>
                            <div class="ml-2">
                                <div class="btn-group">
                              		<th:block th:if="${session.mvo}">
	                    				<div style="text-align: right;">
	                    					<a th:href="@{/moveShareBoardWriteForm}"><font color="gray">글쓰기&emsp;</font></a><br>
	                    				</div>
                     				</th:block>      		
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 이거 아래거 반복시키면 됨 -->
                    <div class="col-lg-4 col-md-6 col-sm-6 pb-1" th:each="group:${shareList}"  > <!-- th:each="group:${postList}" -->
                        <div class="product-item bg-light mb-4">
                            <div class="product-img position-relative overflow-hidden">
                                <img width="100%" height="300px" alt="" th:src="@{/shareboardimg/}+ ${group.photo}"> <!-- th:src="@{/auctionboardimg/}+ ${group.photo}"  -->
                                <div class="product-action"> 
                                    <a class="btn btn-outline-dark btn-square" th:href="@{/findShareBoardDetail(postNo=${group.postNo})}"><i class="fa fa-search"></i></a> <!-- th:href="@{/findAuctionBoardPostDetail(postNo=${group.postNo})}" -->
                                </div>
                            </div>
                            <div class="text-center py-4">
                                <a class="h6 text-decoration-none text-truncate" th:href="@{/findShareBoardDetail(postNo=${group.postNo})}" th:text="${group.title}">title</a><!--th:href="@{/findAuctionBoardPostDetail(postNo=${group.postNo})}"   -->
                            </div>
                        </div>
                        
                    </div>
                    <!-- 이거 위에거 반복시키면 됨 -->
                    <div class="col-12">
                    	
                    	<nav>
                    	<th:block th:if="${paging.totalCount}==0">
                    	<p ></p>
                    	</th:block>
                    	<th:block th:if="${paging.totalCount}>0">
                    	<ul class="pagination justify-content-center">
							    <th:block th:if="${paging.prev}">
							    	<li class="page-item active"><a class="page-link" th:onclick="sendinfoPaginationShare([[${paging.startPage}]]-1)">Pre</a></li>
							    </th:block>
							  	<th:block th:if="${#numbers.formatInteger(paging.startPage,1)<#numbers.formatInteger(paging.endPage,1)}">
									<th:block th:each="num : ${#numbers.sequence(paging.startPage,paging.endPage)}" var="num">
										<li class="page-item"><a class="page-link" th:onclick="sendinfoPaginationShare([[${num}]])" th:text="${num}"></a></li>
									 </th:block>
								</th:block>
							   	<th:block th:if="${paging.next && paging.endPage>0}">
							   		<li class="page-item active"><a class="page-link"  th:onclick="sendinfoPaginationShare([[${paging.endPage}]]+1)">Next</a></li>
							    </th:block>
							</ul> 
	                    </nav>
                    </div>
                </div>
            </div>
            <!-- Shop Product End -->
        </div>
    </div>
    <!-- Shop End -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript" th:inline="javascript">
		function checkOnlyOne(element) {
			const checkboxes = document.getElementsByName("tag");
			checkboxes.forEach((cb) => {
				cb.checked = false;
			})
			element.checked = true;
		}
		function sendinfoShare(element) {
			let id = document.getElementById("id").value;
			let tag = element.value;
			location.href="ShareBoardPostList?tag="+tag+"&id="+id;
		}
		function sendinfoPaginationShare(element) {
			let tag = document.getElementById("checkedValue").value;
			let id = document.getElementById("id").value;
			location.href="ShareBoardPostList?tag="+tag+"&id="+id+"&page="+element;
		}
    </script>
</div>