<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<!--/* 위 선언은 타임리프 레이아웃을 사용하기 위한 설정   */-->

<head>
<title>HiddenPiece</title>
</head>
<div layout:fragment="content">
	<!-- Shop Detail Start -->
	<div class="container-fluid pb-5">
		<div class="row px-xl-5">
			<div class="col-lg-5 mb-30">
				<div id="product-carousel" class="carousel slide"
					data-ride="carousel">
					<div class="carousel-inner bg-light">
						<div class="carousel-item active">
							<img width="100%" height="600" th:src="@{/shareboardimg/}+ ${postVO.photo}" alt="Image">
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-7 h-auto mb-30">
				<div style="height: 800; background-color: white; padding: 30px;">
				<form>
					<input type="hidden" id="postNo" name="postsNo" th:value="${postVO.postNo}" >
				</form>
					<h3 th:text="${postVO.title}">Product Name Goes Here</h3> <p>조회수: <span th:text="${postVO.hits}">조회수</span></p>
			
					<th:block th:if="${session.mvo!=null}">
						<th:block th:if="${session.mvo.id==postVO.id} or ${session.mvo.status=='2'}" >
								<div align="right">
									<button onclick="updatePost()" style="background-color: transparent; border: none;" type = "button"><font color="gray">수정</font></button> 
									<button onclick="deletePost()" style="background-color: transparent; border: none;" type = "button"><font color="gray">삭제</font></button> 
								</div>		
						</th:block>
					</th:block>
					<div class="nav nav-tabs mb-4">
						<a class="nav-item nav-link text-dark active" data-toggle="tab">상품설명</a>
					</div>
					<div class="tab-content">
						<div class="tab-pane fade show active" id="tab-pane-1">
							<p th:text="${postVO.content}" style="width: 100%; height: 300px; margin: 10px;">상품설명란</p>
						</div>
					</div>
					<div>
					<th:block th:if="${session.mvo!=null}">
						<th:block th:if="${session.mvo.id==postVO.id}" >
							<th:block th:if="${postVO.postStatus=='1'}">
									<div align="center">
										<button type = "button" class="btn btn-primary px-3" style="width: 90%;" onclick="finishShare()">종료하기</button>
									</div>
							</th:block>
							<th:block th:if="${postVO.postStatus=='2'}">
									<div align="center">
										<button type = "button" style="width: 90%; color: gray; height: 40px;">종료되었습니다</button>
									</div>
							</th:block>
						</th:block>
						<th:block th:if="${session.mvo.id!=postVO.id}" >
							<th:block th:if="${postVO.postStatus=='1'}">
									<div align="center">
										<button type = "button" class="btn btn-primary px-3" style="width: 90%;">나눔이 진행중입니다</button>
									</div>
							</th:block>
							<th:block th:if="${postVO.postStatus=='2'}">
									<div align="center">
										<button type = "button" style="width: 90%; color: gray; height: 40px;">나눔이 종료되었습니다</button>
									</div>
							</th:block>
						</th:block>
					</th:block>
					<th:block th:if="${session.mvo==null}">
							<th:block th:if="${postVO.postStatus=='1'}">
								<div align="center">
									<button type = "button" class="btn btn-primary px-3" style="width: 90%;">나눔이 진행중입니다</button>
								</div>
							</th:block>
							<th:block th:if="${postVO.postStatus=='2'}">
								<div align="center">
									<button type = "button" style="width: 90%; color: gray; height: 40px;">나눔이 종료되었습니다</button>
								</div>
							</th:block>
							</th:block>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript" th:inline="javascript">
	function updatePost() {
		let postNo = document.getElementById("postNo").value;
		if(confirm("수정하시겠습니까?")) {
			location.href= "moveShareboardUpdate?postNo="+postNo ;
		}
	}
	function deletePost() {
		let postNo = document.getElementById("postNo").value;
		if(confirm("삭제하시겠습니까?")) {
			location.href= "shareboardDelete?postNo="+postNo ;
		}
	}
	function finishShare() {
		let postNo = document.getElementById("postNo").value;
		if(confirm("나눔을 종료하시겠습니까?")) {
			location.href="finishShare?postNo="+postNo;
		}
	}
	
	/* 댓글 삭제  : 댓글 상태 0으로 바꾸기*/
	function changeCommentStatus(commentNo){
		let result = confirm("댓글을 삭제하시겠습니까?");
		if(result){
			$.ajax({
	   			type:"get", 
	   			url:"changeCommentStatus",
	   			data: {
	   				"commentNo":commentNo
	   			},
	   			success:function(result){ //thymeleaf 방식 ajax 응답은 필요한 html 요소를 생성해 응답하므로 직접 loop를 수행해서 요소를 생성하는 부담을 덜 수 있다는 장점이 있다.
	   				location.reload();
	   			}
			});
		}
	}
    	
	function commentUpdateZoneHide(commentNo){
		$("#commentUpdateZone"+commentNo).hide();
		$("#ms-3"+commentNo).show();
	  	$("#updateBtn"+commentNo).show();
	  	$("#changeCommentStatusBtn"+commentNo).show();
	}
	
   $(document).ready(function() {
	   $("div[id^='commentUpdateZone']").hide();
	  
   
   		/*댓글 작성 */
   		$("#commentbtn").click(function() {
			let content=$("#commentContent").val();
			let postNo = document.getElementById("articleNo").value;
			let id =  document.getElementById("comment_inbox_name").innerHTML;
			if(content.trim()<1){
				alert("공백 등록은 불가능합니다.");
				event.preventDefault();
			}
			else{
	       		$.ajax({
	       			type:"get",
	       			url:"writeComment",
	       			data: {
	       				"content":content,
	       				"postNo":postNo,
	       				"id":id
	       			},
	       			success:function(result){ //thymeleaf 방식 ajax 응답은 필요한 html 요소를 생성해 응답하므로 직접 loop를 수행해서 요소를 생성하는 부담을 덜 수 있다는 장점이 있다.
	       				$("#commentContent").val("");
	       				location.reload();
	       			}
	       		});
      		}
      	});					
   })
	                 
                        	   
   /* 댓글 수정  */
   function updateCommentForm(commentNo) {
	  	$("#commentUpdateZone"+commentNo).show();
	  //	let content = $("#commentContentOne"+commentNo).text();
	  	$("#ms-3"+commentNo).hide();
	  	$("#updateBtn"+commentNo).hide();
	  	$("#changeCommentStatusBtn"+commentNo).hide();
	  	$("#timePosted"+commentNo).hide();
	  	
	  	$.ajax({
   			type:"get",
   			url:"selectCommentByCommentNo",
   			data: {
   				"commentNo":commentNo
   			},
   			success:function(result){ //thymeleaf 방식 ajax 응답은 필요한 html 요소를 생성해 응답하므로 직접 loop를 수행해서 요소를 생성하는 부담을 덜 수 있다는 장점이 있다.
   				let content=result;
   				document.getElementById("comment_update_content"+commentNo).value=content;
   			}
		});
	  	
	  	
   }
   
  	function updateComment(commentNo){
		let content =  document.getElementById("comment_update_content"+commentNo).value;
	  
	  	if(content.trim().length>0){
			  let result = confirm("수정하시겠습니까?");
			  let commentContent = content.trim();
			  if(result){
					$.ajax({
			   			type:"get",
			   			url:"updateComment",
			   			data: {
			   				"content" : commentContent,
			   				"commentNo":commentNo
			   			},
			   			success:function(result){ //thymeleaf 방식 ajax 응답은 필요한 html 요소를 생성해 응답하므로 직접 loop를 수행해서 요소를 생성하는 부담을 덜 수 있다는 장점이 있다.
			   				location.reload();
			   			}
					});
			  }
		}
		else{
		  alert("공백 등록은 불가합니다.");
		  event.preventDefault();
	 	}
	}
   </script>
</div>