<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<title>공지게시판 글수정</title>
</head>
<div layout:fragment="content">
	<div class="row pt-4">
		<div class="col-sm-6 offset-sm-3">
			<form method="post" action="" th:action="@{/updateNoticeBoardPost}">
				      <input name="id" th:value="${session.mvo.id}" type = "hidden">
				      <input name="postNo" th:value="${param.postNo}" type = "hidden" >
			<a href="" th:href="noticeBoardPostList"><font color = "black" style="font-size: 25px">공지게시판</font></a>
			<table class="table">		
				<tr>
					<td><input type="text" style="width: 100%; height: 40px;" name="title" required="required" th:value="${postVO.title}"></td>
				</tr>
				<tr>
					<td><textarea rows="20" class="form-control" name="content" required="required" th:value="${postVO.content}">[[${postVO.content}]]</textarea></td>
				</tr>
			</table>
			<div class="text-center">
				<button type="submit" class="btn btn-success">수정</button>
				<button type="button" class="btn btn-success" onclick="backBtn()">취소</button>
				</div>
				<br><br>
				<div class="text-right">
			</div>
			</form>
		</div>
		<script type="text/javascript">
			function backBtn(){
				history.back();
			}
		</script>
	</div>
</div>
</html>