<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<title>HiddenPiece</title>
</head>
<div layout:fragment="content">
	<div>
		<form>
			<input type="hidden" id="postNo" name="postNo"
				th:value="${postVO.postNo}">
		</form>
		<div style="margin: 10px 50px 20px;">
			<table class="table table-responsive-sm">
				<thead class="thead-light">
					<tr>

						<th colspan='3'>제목 : <span th:text="${postVO.title}"
							id="postNo"></span>
						</th>
						<th><th:block th:if="${session.mvo}">
								<th:block th:if=${session.mvo.id==postVO.id}>
									<div align="right">
										<a
											th:href="@{/noticeBoardUpdatePostForm(postNo=${postVO.postNo})}"><font
											color="gray">수정</font></a> <a
											th:href="@{/noticeBoardDeletePostForm(postNo=${postVO.postNo})}"><font
											color="gray">삭제</font></a>
									</div>
								</th:block>
							</th:block></th>
					</tr>
					<tr>
						<th>글번호 : <span th:text="${postVO.postNo}"></span>
						</th>
						<th>작성자 : <span th:text="${postVO.id}"></span>
						</th>
						<th>작성일시 : <span th:text="${postVO.timePosted}"></span>
						</th>
						<th>조회수 : <span th:text="${postVO.hits}"></span>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th><span th:text="${postVO.contend}"></span></th>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</div>
<!-- Shop Detail End -->


<!-- Products Start -->

<!-- Products End -->
</html>