<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<title>공지게시판 상세글보기</title>
</head>
<div layout:fragment="content">
	<div align="center">
		<form>
			<input type="hidden" id="postNo" name="postNo"
				th:value="${postVO.postNo}">
		</form>
		<div style="width: 60%; background-color: white;">
			<table class="table table-bordered" style="width: 100%; table-layout: fixed;">
					<tr>
					<!-- 글길이가 텍스트 상자의 가로 길이보다 길때 글 자동 줄바꿈 -->
						<td style="word-break:break-all; padding: 30px;" colspan='4'> 
							<h3 th:text="${postVO.title}" id="postNo"></h3>
							<span th:text="${postVO.id}"></span><br>
							<span th:text="${postVO.timePosted}"></span> &nbsp
							조회<span th:text="${postVO.hits}"></span>
							<th:block th:if="${session.mvo}">
							<!-- 관리자이기만 하다면 자기가 쓴 글이 아니어도 수정, 삭제가 가능함 -->
							<th:block th:if=${session.mvo.status=='2'}>				
								<div align="right">
									<a th:href="@{/noticeBoardUpdatePostForm(postNo=${postVO.postNo})}"><font color="gray">수정</font></a> 
									<a th:href="@{/noticeBoardDeletePostForm(postNo=${postVO.postNo})}"><font color="gray">삭제</font></a>
								</div>
							</th:block>
						</th:block>
						<hr>
						<div style="margin-top: 30px; margin-bottom: 100px; font-size: 20px;">
							<pre th:text="${postVO.content}"></pre>
						</div>
						</td>
					</tr>			
			</table>
		</div>
	</div>
</div>
</html>