<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<title>HiddenPiece</title>
</head>
<div layout:fragment="content">
	<div align="center">
		<form>
			<input type="hidden" id="postNo" name="postNo"
				th:value="${postVO.postNo}">
		</form>
		<div style="width: 60%; background-color: white;">
			<table class="table table-bordered" style="width: 100%; table-layout: fixed;">
					<tr>
						<td style="word-break:break-all; padding: 30px;" colspan='4'>
							<h3 th:text="${postVO.title}" id="postNo"></h3>
							<span th:text="${postVO.id}"></span><br>
							<span th:text="${postVO.timePosted}"></span> &nbsp
							조회<span th:text="${postVO.hits}"></span>
							<th:block th:if="${session.mvo}">
							<th:block th:if=${session.mvo.id==postVO.id}>				
								<div align="right">
									<a th:href="@{/noticeBoardUpdatePostForm(postNo=${postVO.postNo})}"><font color="gray">수정</font></a> 
									<a th:href="@{/noticeBoardDeletePostForm(postNo=${postVO.postNo})}"><font color="gray">삭제</font></a>
								</div>
							</th:block>
						</th:block>
						<hr>
						<div style="margin-top: 30px; margin-bottom: 100px; font-size: 20px;">
							<span th:text="${postVO.contend}"></span>
						</div>
						</td>
					</tr>			
			</table>
		</div>
	</div>

</div>
<!-- Shop Detail End -->


<!-- Products Start -->

<!-- Products End -->
</html>