<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<!--/* 위 선언은 타임리프 레이아웃을 사용하기 위한 설정   */-->
<head>
<title>HiddenPiece</title>
</head>
<div layout:fragment="content">
	<!-- Shop Detail Start -->
	<div class="container-fluid pb-5">
		<div class="row px-xl-5">
			<div class="col-lg-5 mb-30">
				<div id="product-carousel" class="carousel slide"
					data-ride="carousel">
					<div class="carousel-inner bg-light">
						<div class="carousel-item active">
							<img class="w-100 h-100" src="img/product-1.jpg" alt="Image">
						</div>
						<div class="carousel-item">
							<img class="w-100 h-100" src="img/product-2.jpg" alt="Image">
						</div>
						<div class="carousel-item">
							<img class="w-100 h-100" src="img/product-3.jpg" alt="Image">
						</div>
						<div class="carousel-item">
							<img class="w-100 h-100" src="img/product-4.jpg" alt="Image">
						</div>
					</div>
					<a class="carousel-control-prev" href="#product-carousel"
						data-slide="prev"> <i class="fa fa-2x fa-angle-left text-dark"></i>
					</a> <a class="carousel-control-next" href="#product-carousel"
						data-slide="next"> <i
						class="fa fa-2x fa-angle-right text-dark"></i>
					</a>
				</div>
			</div>

			<div class="col-lg-7 h-auto mb-30">
				<div class="h-100 bg-light p-30">
					<h3>Product Name Goes Here</h3> <p style="text-align: right;">조회수: 30</p>
					<h5 class="font-weight-semi-bold mb-4">경매종료시각: 2022/12/29 18:00</h5>
					<h3 class="font-weight-semi-bold mb-4">입찰가: $130.00</h3>
					<h5 class="font-weight-semi-bold mb-4">즉시구매가: $150.00</h5>
					<h5 class="font-weight-semi-bold mb-4">현재입찰자: Kosta</h5>
					<div class="d-flex align-items-center mb-4 pt-2">
						<div class="input-group quantity mr-3" style="width: 130px;">
							<div class="input-group-btn">
								<button class="btn btn-primary btn-minus">
									<i class="fa fa-minus"></i>
								</button>
							</div>
							<input type="text"
								class="form-control bg-secondary border-0 text-center" value="130">
							<div class="input-group-btn">
								<button class="btn btn-primary btn-plus">
									<i class="fa fa-plus"></i>
								</button>
							</div>
						</div>
						<button class="btn px-3" style="border-color: gray;">
							<i class="fa fa-shopping-cart mr-1"></i> 입찰하기
						</button>&nbsp;&nbsp;&nbsp;&nbsp;
						<button class="btn px-3" style="border-color: gray;">
							<i class="fa fa-shopping-cart mr-1"></i> 즉시구매하기
						</button>&nbsp;&nbsp;&nbsp;&nbsp;
						<button class="btn px-3">
							<i class="fas fa-heart text-primary"></i> 찜하기
						</button>
					</div>
					<br>
					<div class="nav nav-tabs mb-4">
						<a class="nav-item nav-link text-dark active" data-toggle="tab">상품설명</a>
					</div>
					<div class="tab-content">
						<div class="tab-pane fade show active" id="tab-pane-1">
							<p>Eos no lorem eirmod diam diam, eos elitr et gubergren diam
								sea. Consetetur vero aliquyam invidunt duo dolores et duo sit.
								Vero diam ea vero et dolore rebum, dolor rebum eirmod consetetur
								invidunt sed sed et, lorem duo et eos elitr, sadipscing kasd
								ipsum rebum diam. Dolore diam stet rebum sed tempor kasd eirmod.
								Takimata kasd ipsum accusam sadipscing, eos dolores sit no ut
								diam consetetur duo justo est, sit sanctus diam tempor aliquyam
								eirmod nonumy rebum dolor accusam, ipsum kasd eos consetetur at
								sit rebum, diam kasd invidunt tempor lorem, ipsum lorem elitr
								sanctus eirmod takimata dolor ea invidunt.</p>
							<p>Dolore magna est eirmod sanctus dolor, amet diam et eirmod
								et ipsum. Amet dolore tempor consetetur sed lorem dolor sit
								lorem tempor. Gubergren amet amet labore sadipscing clita clita
								diam clita. Sea amet et sed ipsum lorem elitr et, amet et labore
								voluptua sit rebum. Ea erat sed et diam takimata sed justo.
								Magna takimata justo et amet magna et.</p>
						</div>
				</div>
			</div>
		</div>
		<div class="row px-xl-5" style="width: 100%;">
			<div class="col">
				<div class="bg-light p-30">
					<div class="nav nav-tabs mb-4">
						<a class="nav-item nav-link text-dark active" data-toggle="tab"
							href="#tab-pane-1">댓글</a>
					</div>
					<div class="tab-content">
						<div class="tab-pane fade show active" id="tab-pane-1" >
						</div>
						<div class="col-md-6">	
							<form>
								<div class="form-group">
									<textarea id="message" cols="300" rows="5" class="form-control" placeholder="댓글을 입력하세요"></textarea>
								</div>
								<div class="form-group mb-0">
									<input type="submit" value="댓글작성" class="btn btn-primary px-3">
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<!-- Shop Detail End -->


<!-- Products Start -->

<!-- Products End -->
</div>