<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<title>HiddenPiece</title>
</head>
<div layout:fragment="content">
	<div class="row pt-4">
		<div class="col-sm-6 offset-sm-3" th:each="postVO:${postVO}">
		
			<div class="row">
				<div class="col-12">
					<span th:text="${postVO.title}"></span>
				</div>
			</div>
			<div class="row">
				<div class="col-2" align="center">
					<span th:text="${postVO.postNo}"></span>
				</div>
				<div class="col-2" align="center">
					<span th:text="${postVO.id}"></span>
				</div>
				<div class="col-3" align="center">
					<span th:text="${postVO.timePosted}"></span>
				</div>
				<div class="col-2" align="center">
					<span th:text="${postVO.hits}"></span>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<span th:text="${postVO.contend}"></span>
				</div>
			</div>
		</div>
	</div>
	<br><br>
	<div align="center">
	<a th:href="@{/freeBoardUpdatePostForm(postNo=${postVO.postNo})}">수정</a>
	<a th:href="@{/freeBoardDeletePostForm(postNo=${postVO.postNo})}">삭제</a>
	</div>
</div>


</html>