<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<title>HiddenPiece</title>
</head>
<div layout:fragment="content">
	<div class="row pt-4">
		<div class="col-sm-6 offset-sm-3">
		<h3>자유게시판</h3>
			<table class="table">
				<thead>
					<tr>
						<th>글번호</th>
						<th>제목</th>
						<th>작성자</th>
						<th>작성일</th>
						<th>조회수</th>
					</tr>
				</thead>
				<tbody>
					
					<tr th:each="list:${list}">	
						<td><span th:text="${list.postNo}"></span></td>
						<td><a href="" th:href="@{/findFreeBoardPostDetail(postNo=${list.postNo})}"><font color ="gray"><span th:text="${list.title}"></span></font></a></td>
						<!--  -->
					    <td><span th:text="${list.id}"></span></td>
					    
						<td><span th:text="${list.timePosted}"></span></td>
						<td><span th:text="${list.hits}"></span></td>		
					</tr>
				<!--  	-->
				</tbody>
			</table>
			<th:block th:if="${session.mvo}">
			<th:block th:if="${session.mvo.id != null}">
			<div>		
				<a style="background-color:  black; color: white; width: 80px; height: 30px;" href="" th:href="@{/moveFreeBoardPostWriteForm}">글작성</a>
			</div>
			</th:block>
			</th:block>
		</div>
	</div>
</div>
</html>
