<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<!--/* 위 선언은 타임리프 레이아웃을 사용하기 위한 설정   */-->
<head>
<title>HiddenPiece</title>
</head>
<div layout:fragment="content">
	<form th:action="@{/adminSearchBoard}">
		<h3 style="text-align: center">관리자 페이지</h3>
		<hr>
		<br>
		<div align="center">
			<font style="font-weight: bold; font-size: 18px;">사용자가 등록한 글 검색 :</font>
			<select style="width:200px;height:30px;" name="status" >
				<option value=""  th:value="0" style="text-align: center">--글 상태--</option>
				<option value=""  th:value="1" style="text-align: center">삭제한 글</option>
				<option value="" th:value="2" style="text-align: center">현재 등록되어 있는 글</option>
			</select> 
			<input style="width:200px;height:30px; text-align: center;" name="id" type="text" placeholder="작성자 아이디" id="id" required="required">
			<select style="width:200px;height:30px;"name="board">
				<option value="" th:value="no" style="text-align: center">--게시판 선택--</option>
				<option value="" th:value="auction" style="text-align: center">경매게시판</option>
				<option value="" th:value="free" style="text-align: center">자유게시판</option>
			</select>
			<button type="submit" id="searchPostBtn" style="width:50px;height:30px; text-align: center;">찾기</button>
			<br><br>
	</div>
	</form>
			<div align="center">
			<form th:action="@{/adminSearchMember}">
		<h5 style="text-align: center">회원수 : <span th:text = "${memberCount}"></span>명</h5>
		<span>상태 0 : 탈퇴한 회원 / </span>
		<span>상태 1 : 회원 / </span>
		<span>상태 2 : 관리자</span><br><br>
		<input style="width:200px;height:30px; text-align: center;" name="memberId" type="text" placeholder="아이디" id="Id" required="required">
			<button type="button" id="searchMemberBtn" style="width:50px;height:30px; text-align: center;">찾기</button>
				<select style="width:200px;height:30px;"name="statusMember">
				<option value="" th:value="0" style="text-align: center">탈퇴한 회원</option>
				<option value="" th:value="1" style="text-align: center">회원</option>
				<option value="" th:value="2" style="text-align: center">관리자</option>
			</select>
			<button type="submit" id="changeStatusMemberBtn" style="width:50px;height:30px; text-align: center;">변경</button>
			</form>
			<br><br>
		<span id="ajaxMember"></span>
		</div>
	
	

<script type="text/javascript" th:inline="javascript">
	$(function(){
		let checkIdFlag = "";
			let checkId = $("input[name=memberId]");
			let id = $("#memberId").val();
		$("#searchMemberBtn").click(function() {
			$.ajax({
				type:"get",
				url:"ajaxFindMemberVO",
				data:"memberId="+checkId.val(),
				success:function(member){
						// $("#ajaxMember").text(result);
						// alert("member Json result "+member);						
								$("#ajaxMember").text("상태 : " + member.status);
					
				},
				error:function(xhr){
					$("#ajaxMember").text(xhr.responseText);
				}
			});
		});
	
	});
</script>
</div>
