<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<!--/* 위 선언은 타임리프 레이아웃을 사용하기 위한 설정   */-->
<head>
<title>HiddenPiece</title>
</head>
<div layout:fragment="content">
	<!-- Checkout Start -->
	<div class="container-fluid">
		<div class="row px-xl-5">		
			<div style= " width: 50%; text-align: center;" >
				<h5 class="section-title position-relative text-uppercase mb-3">
					<span class="bg-secondary pr-3">로그인</span>
				</h5>
				<div class="bg-light p-30 mb-5">
					<div style="text-align: center;">
						<form action="" th:action="@{/login}" method="post">
 							<input type="text" name="id" placeholder="아이디" required="required"><br>
 							<input type="password" name="password" placeholder="패스워드" required="required"><br><br>
 							<button type="submit" style="width: 20%; border: none; background-color: #FFD333; height: 50px; color: #495057;">로그인</button>
 						</form>
 						<br>
 						<a href="" th:href="@{/registerForm}">회원가입</a>
 						<a href="" th:href="@{/findIdForm}">아이디 찾기</a>
 						<a href="" th:href="@{/findPasswordForm}">비밀번호 찾기</a>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>