<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<!--/* 위 선언은 타임리프 레이아웃을 사용하기 위한 설정   */-->
<head>
<title>HiddenPiece</title>
</head>
<div layout:fragment="content">
	<!-- Checkout Start -->
	<div class="container-fluid">
		<div align="center">		
			<div style="width: 30%; height: 300px; border-style: solid; border-width: 1px; border-radius:10px; background-color: white;"><br>
				<h5>
					<span style="text-align: center; background-color: white;"> 로그인 </span>
				</h5>
				<div>
					<div style="text-align: center;">
						<form action="" th:action="@{/login}" method="post">
 							<input type="text" style="width: 65%; height: 40px" name="id" placeholder="아이디" required="required"><br>
 							<input type="password" style="width: 65%; height: 40px" name="password" placeholder="패스워드" required="required"><br><br>
 							<button type="submit" style="width: 65%; border: none; background-color: #FFD333; height: 40px; color: #495057;">로그인</button>
 						</form>
 						<br>
 						<a href="" th:href="@{/registerForm}"><font color="gray">회원가입</font></a> 
 						|
 						<a href="" th:href="@{/findIdForm}" ><font color="gray">아이디 찾기</font></a> 
 						|
 						<a href="" th:href="@{/findPasswordForm}"><font color="gray">비밀번호 찾기</font></a>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>