<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<!--/* 위 선언은 타임리프 레이아웃을 사용하기 위한 설정   */-->
<head>
<title>HiddenPiece</title>
</head>
<div layout:fragment="content">

	<!-- Checkout Start -->
	<div class="container-fluid">
		<div class="row px-xl-5">
			<div style="width: 100%;">
				<h5 class="section-title position-relative text-uppercase mb-3">
					<span class="bg-secondary pr-3">회원가입</span>
				</h5>
				<div class="bg-light p-30 mb-5">
					<div style="text-align: center;">
						<form action="" th:action="@{/registerMember}" method="post">
							<label>ID</label><br>
							<input name="id" class="form-control1" type="text" placeholder="hiddenpiece" id="id"><br><span id="ajaxId"></span>
							<br>
							<label>Password</label><br>
							<input name="password" class="form-control1" type="text" placeholder="Password"><br>
							<br>
							<label>전화번호</label><br>
							<input name = "tel" class="form-control1" type="text" placeholder="999 999 999"><br>
							<br>
							<label>e-mail</label><br>
							<input name="email" class="form-control1" type="text" placeholder="example@email.com"><br> <br>
							<label>주소</label><br>
							<input name="address" class="form-control1" type="text" placeholder="123 Street"><br>
							<br>
							<label>이름</label><br>
							<input name="name" class="form-control1" type="text" placeholder="홍주영"><br> <br>
							<label>닉네임</label><br>
							<input name="nickName" class="form-control1"	type="text" placeholder="Kosta"><br> <br>
							<label>계좌번호</label><br>
							<input name="accountNo" class="form-control1" type="text" placeholder="******"><br>
							<br>
							<br>
							<button style="width: 30%; border: none; background-color: #FFD333; height: 50px; color: #495057;">회원가입하기</button>
						</form>

						
					</div>
				</div>
			</div>
		</div>
		<!-- Checkout End -->
	</div>
</div>