<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<!--/* 위 선언은 타임리프 레이아웃을 사용하기 위한 설정   */-->
<head>
<title>HiddenPiece</title>
</head>
<div layout:fragment="content">

	<!-- Checkout Start -->
	<div class="container-fluid">
		<div class="row px-xl-5">
			<div style="width: 100%;">
				<h5 class="section-title position-relative text-uppercase mb-3">
					<span class="bg-secondary pr-3">회원가입</span>
				</h5>
				<div class="bg-light p-30 mb-5">
					<div style="text-align: center;">
						<form action="" th:action="@{/registerMember}" method="post"  id="registerForm">
							<label>ID</label><br>
							<input  required="required" name="id" class="form-control1" type="text" placeholder="아이디는 4자 이상 입력해주세요." id="id"><br><span id="ajaxId"></span>
							<br>
							<br>
							<label>비밀번호</label><br>
							<input  required="required" name="password" class="form-control1" type="password" placeholder="비밀번호는 4자 이상 입력해주세요." id="password"><br><br>
							<br>
							<label>비밀번호 확인</label><br>
							<input required="required" name="passwordCheck" class="form-control1" type="password" id="passwordCheck" placeholder="비밀번호와 일치하게 입력해주세요."><br><br>
							<br>
							<label>전화번호</label><br>
							<input required="required" name = "tel" class="form-control1" type="text" placeholder="010-0000-0000 형식으로 입력해주세요." id="tel"><br><br>
							<br>
							<label>e-mail</label><br>
							<input required="required" name="email" class="form-control1" type="text" placeholder="example@email.com 형식으로 입력해주세요." id="email"><br> <br><br>
							<label>주소</label><br>
							<input required="required" name="address" class="form-control1" type="text" placeholder="123 Street"><br><br>
							<br>
							<label>이름</label><br>
							<input required="required" name="name" class="form-control1" type="text" placeholder="이름"><br> <br><br>
							<label>닉네임</label><br>
							<input required="required" name="nickName" class="form-control1"	type="text" placeholder="Kosta"><br> <br><br>
							<label>계좌번호</label><br>
							<input required="required" name="accountNo" class="form-control1" type="text" placeholder="자신의 계좌번호를 입력해주세요."><br><span id="ajaxAccount"></span><br>
							<br>
							<br>
							<button style="width: 30%; border: none; background-color: #FFD333; height: 50px; color: #495057;" id="checkBtn">회원가입하기</button>
						</form>
<script type="text/javascript" th:inline="javascript">

	
$(function() {
	
	let checkIdFlag = "";
	let checkAccountFlag="";
	
	$("#registerForm").submit(function(){
		if(checkIdFlag=="" || checkAccountFlag==""){ //중복돼서 안넘어가야된다
			return false;
		}
	});
	
	let checkId = $("input[name=id]");
	let id = $("#id").val();
	checkId.keyup(function(){
		checkIdFlag = "";
		checkId = $("input[name=id]");
		id = $("#id").val();
		
		$.ajax({
			type:"get",
			url:"ajaxIdCheck",
			data:"id="+checkId.val(),
			success:function(result){
				if(result ==1||id.length<4){
					$("#ajaxId").text("사용불가능한 아이디입니다");
				}
				else if(result==0 && id.length>4){
					$("#ajaxId").text("사용가능한 아이디입니다");
					checkIdFlag=checkId.val();
				}
			}
		});
	});
	
	let checkAccount = $("input[name=accountNo]");
	checkAccount.keyup(function(){
		checkAccountFlag = "";
		
		$.ajax({
			type:"get",
			url:"ajaxAccountCheck",
			data:"accountNo="+checkAccount.val(),
			success:function(result){
				if(result==1){
					$("#ajaxAccount").text("사용 가능");	
					checkAccountFlag=checkAccount.val();
				}else if(result==2){
					$("#ajaxAccount").text("이미 등록된 계좌입니다.");
				}else{
					$("#ajaxAccount").text("존재하지 않는 계좌입니다.");
				}
			}
		});
	});
	
	$("#checkBtn").click(function() {
		let password = $("#password").val();
		let passwordCheck = $("#passwordCheck").val();
		let email = $("#email").val();
		let tel =$("#tel").val();
		
		if(password!==passwordCheck){
			alert("비밀번호가 일치하지 않습니다");
			return false;
		}
		if(!(password.length>=4)){
			alert("비밀번호는 4자 이상 입력해주세요.");
			return false;
		}
		if(email.indexOf(".com")==-1 || email.indexOf("@")==-1){
			alert("올바른 이메일 형식이 아닙니다.");
			return false;
		}
		if(tel.length!=13){
			alert("전화번호는 11자 000-0000-0000 형식으로 입력해주세요.");
			return false;
		}
	})
	
});
</script>
						
					</div>
				</div>
			</div>
		</div>
		<!-- Checkout End -->
	</div>
</div>