<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout}"
> <!--/* 위 선언은 타임리프 레이아웃을 사용하기 위한 설정   */-->
<head>
<title>HiddenPiece</title>
</head>
<div layout:fragment="content">

	<div class="container-fluid">
		<div class="row px-xl-5">
			<div style="width: 100%;">
				<h5 class="section-title position-relative text-uppercase mb-3">
					<span class="bg-secondary pr-3">회원정보 수정</span>
				</h5>
				<form action="" th:action="@{/updateMember}" method="post">
				<div class="bg-light p-30 mb-5">
					<div style="text-align: center;">
						<div>
							<label>아이디</label><br>
							<input class="form-control1" type="text" name="id" th:value="${session.mvo.id}" readonly="readonly"  placeholder="아이디"><br>
							<br>
						</div>
						<div>
							<label>비밀번호</label><br>
							<input class="form-control1" type="password" name="password" id="password" placeholder="비밀번호"><br>
							<br>
						</div>	
						<div>
						<label>비밀번호 확인</label><br>
							<input class="form-control1" type="password" name="passwordCheck" id="passwordCheck" placeholder="비밀번호확인"><br>
							<br>
							</div>
						<div>
							<label>이메일</label><br>
							<input class="form-control1" type="text" name="email" th:value="${session.mvo.email}" id="email" placeholder="이메일"><br> 
							<br>
						</div>
						<div>
							<label>전화번호</label><br>
							<input class="form-control1" type="text" name="tel" th:value="${session.mvo.tel}" id="tel" placeholder="전화번호"><br> 
							<br>
						</div>
						<div>
							<label>주소</label><br>
							<input class="form-control1" type="text" name="address" th:value="${session.mvo.address}" placeholder="주소"><br>
							<br>
						</div>
						<div>
							<label>닉네임</label><br>
							<input class="form-control1" type="text" name="nickName" th:value="${session.mvo.nickName}" placeholder="닉네임"><br>
							<br>
						</div>
						<br>
						<div>
							<label>이름</label><br>
							<input class="form-control1" type="text" name="name" th:value="${session.mvo.name}" placeholder="이름"><br>
							<br>
						</div>
						
						<br>
						<button style="width: 30%; border: none; background-color: #FFD333; height: 50px; color: #495057;" id="checkBtn">회원정보 수정</button>
					</div>
				</div>
				</form>
				</div>
				</div>
				</div>
				<script type="text/javascript" th:inline="javascript">
$(function() {
	$("#checkBtn").click(function() {
		let password = $("#password").val();
		let passwordCheck = $("#passwordCheck").val();
		let email = $("#email").val();
		let tel =$("#tel").val();
		
		if(password!==passwordCheck){
			alert("비밀번호가 일치하지 않습니다");
			return false;
		}
		if(!(password.length>=4)){
			alert("비밀번호는 4자 이상 입력해주세요.");
			return false;
		}
		if(email.indexOf(".com")==-1 || email.indexOf("@")==-1){
			alert("올바른 이메일 형식이 아닙니다.");
			return false;
		}
		if(tel.length!=13){
			alert("전화번호는 11자 000-0000-0000 형식으로 입력해주세요.");
			return false;
		}
	})
	
});
</script>
</div>