<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<!--/* 위 선언은 타임리프 레이아웃을 사용하기 위한 설정   */-->

<head>
<title>HiddenPiece</title>
</head>
<div layout:fragment="content">
	<!-- Shop Detail Start -->
	<div class="container-fluid pb-5">
		<div class="row px-xl-5">
			<div class="col-lg-5 mb-30">
				<div id="product-carousel" class="carousel slide"
					data-ride="carousel">
					<div class="carousel-inner bg-light">
						<div class="carousel-item active">
							<img class="w-100 h-100" th:src="@{/img/}+ ${postVO.photo}" alt="Image">
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-7 h-auto mb-30">
				<div class="h-100 bg-light p-30">

				<form>
				<input type="hidden" id="articleNo" name="articleNo" th:value="${postVO.postNo}" >
			</form>

					<h3 th:text="${postVO.title}">Product Name Goes Here</h3> <p style="text-align: right;">조회수: <span th:text="${postVO.hits}">조회수</span></p>
					<h5 class="font-weight-semi-bold mb-4" >경매종료시각: <span th:text="${postVO.endDate}">시각표시</span> </h5>
					<h3 class="font-weight-semi-bold mb-4">시작가: <span th:text="${postVO.startPrice}">시작가격표시</span></h3>
					<h3 class="font-weight-semi-bold mb-4" th:text="|입찰가 ${postVO.currentPrice}원|">입찰가: $130.00</h3>
					<h5 class="font-weight-semi-bold mb-4" th:text="|즉시구매가 ${postVO.sellPrice}원|">즉시구매가: $150.00</h5>
					<h5 class="font-weight-semi-bold mb-4" th:text="|현재입찰자 ${postVO.nowId}님|">현재입찰자: Kosta</h5>
					<div class="d-flex align-items-center mb-4 pt-2">
						<div class="input-group quantity mr-3" style="width: 200px;">
							<div class="input-group-btn">
								<button class="btn btn-primary btn-minus">
									<i class="fa fa-minus"></i>
								</button>
							</div>
							<input type="text" class="form-control bg-secondary border-0 text-center" th:value="${postVO.currentPrice}">
							<div class="input-group-btn">
								<button class="btn btn-primary btn-plus">
									<i class="fa fa-plus"></i>
								</button>
							</div>
						</div>
						<button class="btn px-3" style="border-color: gray;">
							<i class="fa fa-shopping-cart mr-1"></i> 입찰하기
						</button>&nbsp;&nbsp;&nbsp;&nbsp;
						<button class="btn px-3" style="border-color: gray;">
							<i class="fa fa-shopping-cart mr-1"></i> 즉시구매하기
						</button>&nbsp;&nbsp;&nbsp;&nbsp;
						<!-- <button class="btn px-3" th:onclick="addToWishlist([[${postVO.postNo}]], [[${session.mvo.id}]])">
							<i class="fas fa-heart text-primary"></i> 찜하기
						</button> -->
						<th:block th:if="${session.mvo!=null">
							<th:block th:if="${session.mvo.id!=null">
								<button class="btn px-3" th:onclick="checkToWishlist([[${postVO.postNo}]], [[${session.mvo.id}]])">
									<i class="fas fa-heart text-primary"></i> 찜하기
								</button>
							</th:block>
							<th:block th:if="${session.mvo.id==null">
								<button class="btn px-3" th:onclick="needLoginFirst()">
									<i class="fas fa-heart text-primary"></i> 찜하기
								</button>
							</th:block>
						</th:block>
						<th:block th:if="${session.mvo!=null}">
							<th:block th:if="${session.mvo.id==postVO.id}">
								<form id = "moveAuctionBoardPostUpdateForm" th:action="@{/moveAuctionBoardPostUpdateForm}" >
									<input type = "hidden" name = "postNo" th:value ="${postVO.postNo}">
									<button type = "submit">수정하기</button>
								</form>  &nbsp;
								<form id = "moveAuctionBoardPostDelete" th:action="@{/moveAuctionBoardPostDelete}">
									<input type = "hidden" name = "postNo" th:value ="${postVO.postNo}">
									<button  type = "submit">삭제하기</button> 
								</form>
							</th:block>
						</th:block>
					</div>
					<br>
					<div class="nav nav-tabs mb-4">
						<a class="nav-item nav-link text-dark active" data-toggle="tab">상품설명</a>
					</div>
					<div class="tab-content">
						<div class="tab-pane fade show active" id="tab-pane-1">
							<p th:text="${postVO.content}">상품설명란</p>
						</div>
				</div>
			</div>
		</div>
		
<div class="card bg-light" style="width:2500px" id="commentBody">
<!-- cList.commentStatus가 1인것만 출력 -->
	<th:block th:if="${cList.commentStatus}==1" th:each="cList:${commentList}">
           <div class="card-body" id="card" style="background-color: white; margin: 10px 50px 20px;">
               	
               		<div class="d-flex">
                   		<div class="flex-shrink-0"><img src="" alt="" style="width:30px"/></div>
							<div >
	                   		<div class="ms-3" th:id="'ms-3'+${cList.commentNo}" >
	                     		<div class="fw-bold">
	                      			 <a href="#" role="button" class="comment_nickname" id="comment_nickname" th:text=${cList.id}></a>
	                       		</div>
								<form id="modifyCommentForm" action="UpdateCommentController.do" method="post">
									<input type="hidden" name="commentNo" id="commentNo" th:value="${cList.commentNo}">
								</form>
								<form id="deleteCommentForm" action="DeleteCommentController.do" method="post">
									<input type="hidden" name="commentNo" th:value="${cList.commentNo}">
								</form>
								<p th:text="${cList.content}" th:id="'commentContentOne'+${cList.commentNo}"></p><br>
	                    </div>
								<span class="comment_info_date" th:id="'timePosted'+${cList.commentNo}" th:text="${cList.timePosted}"></span>
								<th:block th:if="${session.mvo!=null}">
									<th:block th:if="${session.mvo.id==cList.id}">
										<button type="button" th:id="'updateBtn'+${cList.commentNo}" th:onclick="updateCommentForm([[${cList.commentNo}]])" style="color: gray; background-color: white; border: 1px solid white; border-radius: 20px;">댓글 수정</button>
										<button type="button" th:id="'changeCommentStatusBtn'+${cList.commentNo}" th:onclick="changeCommentStatus([[${cList.commentNo}]])" style="color: gray; background-color: white; border: 2px solid white; border-radius: 20px;">댓글 삭제</button>
			                            <div th:id="'commentUpdateZone'+${cList.commentNo}">
											<input type="hidden" th:id="'comment_No'+${cList.commentNo}" value="${cList.commentNo}">
											<textarea class="" th:id="'comment_update_content'+${cList.commentNo}" rows="3" style="width:60vw" th:value="${cList.content}" th:text="${cList.content}"></textarea><br>
											<button name="commentupdatebtn" id="commentupdatebtn" class="btn btn-warning" th:onclick="updateComment([[${cList.commentNo}]])" style=" color: white; margin-left:52vw; background-color: #ef7b35; border-color: #ef7b35; ">수정</button>
											<button name="commentupdatebtn_no" id="commentupdatebtn_no" class="btn btn-warning" th:onclick="commentUpdateZoneHide([[${cList.commentNo}]])" style=" color: white; background-color: #ef7b35; border-color: #ef7b35;">취소</button>
										</div>
			                            <hr style="width:65vw">
		                           </th:block>
								</th:block>
	                     </div>
                    	</div>   	
                    </div>
               		</th:block>
              <hr>
                              	 <!-- Comment form-->
                              	 <div style="margin: 10px 50px 20px;">
                              	 <th:bloack th:if="${session.mvo!=null}">
                              	 	<th:block th:if="${session.mvo.id!=null}">
                              	 		<em class="comment_inbox_name" id="comment_inbox_name" th:text="${session.mvo.id}" >현재로그인된회원이름</em>
                              	 	</th:block>
                              	 </th:bloack>   	
                               		<textarea class="form-control" id="commentContent" rows="3" placeholder="댓글을 등록하세요!"></textarea><br>
                               		<div class="form-group mb-0">
									<button type="button" class="btn btn-primary px-3" id="commentbtn">댓글 작성</button>
								</div>
								<input name="memberId" id="memberId" type="hidden" value="" />
                           </div>
                           
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" th:inline="javascript">

	/* 찜하기확인  */
	function checkToWishlist(postNo, id){
		$.ajax({
			
			type:"get",
			url:"checkToWishlist",
			data:{
				"postNo":postNo,
				"id":id
			},
			success:function(result){
				alert(result);
				if(result<1){
					addToWishlist(postNo, id);	
				}
				else{
					deleteFromWishlist(postNo,id);
				}
			}
		});
	
	}
	
	/* 찜하기  */
	function addToWishlist(postNo, id){
		let heart=$("#heart");
		$.ajax({
			type:"get",
			url:"addToWishlist",
			data:{
				"postNo":postNo,
				"id":id
			},
			success:function(result){
				location.reload();
			}
		});
	}
	
	/* 찜취소 */
	function deleteFromWishlist(postNo){
    	$.ajax({
   			type:"get",
   			url:"deleteFromWishlist",
   			data:{
   				"postNo":postNo
   			},
   			success:function(result){
   				location.reload();
   			}
   		})
   	}

	/* 댓글 삭제  : 댓글 상태 0으로 바꾸기*/
	function changeCommentStatus(commentNo){
		let result = confirm("댓글을 삭제하시겠습니까?");
		if(result){
			$.ajax({
	   			type:"get",
	   			url:"changeCommentStatus",
	   			data: {
	   				"commentNo":commentNo
	   			},
	   			success:function(result){ //thymeleaf 방식 ajax 응답은 필요한 html 요소를 생성해 응답하므로 직접 loop를 수행해서 요소를 생성하는 부담을 덜 수 있다는 장점이 있다.
	   				location.reload();
	   			}
			});
		}
	}
	function commentUpdateZoneHide(commentNo){
		$("#commentUpdateZone"+commentNo).hide();
		$("#ms-3"+commentNo).show();
	  	$("#updateBtn"+commentNo).show();
	  	$("#changeCommentStatusBtn"+commentNo).show();
	}
	
   $(document).ready(function() {
	   $("div[id^='commentUpdateZone']").hide();
	   
   		/*댓글 작성 */
   		$("#commentbtn").click(function() {
			let content=$("#commentContent").val();
			let postNo = document.getElementById("articleNo").value;
			let id =  document.getElementById("comment_inbox_name").innerHTML;
			if(content.trim()<1){
				alert("공백 등록은 불가능합니다.");
				event.preventDefault();
			}
			else{
	       		$.ajax({
	       			type:"get",
	       			url:"writeComment",
	       			data: {
	       				"content":content,
	       				"postNo":postNo,
	       				"id":id
	       			},
	       			success:function(result){ //thymeleaf 방식 ajax 응답은 필요한 html 요소를 생성해 응답하므로 직접 loop를 수행해서 요소를 생성하는 부담을 덜 수 있다는 장점이 있다.
	       				$("#commentContent").val("");
	       				location.reload();
	       			}
	       		});
      		}
      	});
   
   })
	                 
                        	   
   /* 댓글 수정  */
   function updateCommentForm(commentNo) {
	  	$("#commentUpdateZone"+commentNo).show();
	  //	let content = $("#commentContentOne"+commentNo).text();
	  	$("#ms-3"+commentNo).hide();
	  	$("#updateBtn"+commentNo).hide();
	  	$("#changeCommentStatusBtn"+commentNo).hide();
	  	$("#timePosted"+commentNo).hide();
	  	
	  	$.ajax({
   			type:"get",
   			url:"selectCommentByCommentNo",
   			data: {
   				"commentNo":commentNo
   			},
   			success:function(result){ //thymeleaf 방식 ajax 응답은 필요한 html 요소를 생성해 응답하므로 직접 loop를 수행해서 요소를 생성하는 부담을 덜 수 있다는 장점이 있다.
   				let content=result;
   				document.getElementById("comment_update_content"+commentNo).value=content;
   			}
		});
	  	
	  	
   }
   
  	function updateComment(commentNo){
	  let content =  document.getElementById("comment_update_content"+commentNo).value;
	  
	  if(content.trim().length>0){
		  let result = confirm("수정하시겠습니까?");
		  let commentContent = content.trim();
		  if(result){
				$.ajax({
		   			type:"get",
		   			url:"updateComment",
		   			data: {
		   				"content" : commentContent,
		   				"commentNo":commentNo
		   			},
		   			success:function(result){ //thymeleaf 방식 ajax 응답은 필요한 html 요소를 생성해 응답하므로 직접 loop를 수행해서 요소를 생성하는 부담을 덜 수 있다는 장점이 있다.
		   				location.reload();
		   			}
				});
		  }
	}
	else{
	  alert("공백 등록은 불가합니다.");
	  event.preventDefault();
 	}
	  
	}
  	
  	function loginFirst() {
  		alert("로그인 후 이욯하실 수 있습니다");
  	}
   </script>
					</div>
				</div>
			</div>

<!-- Shop Detail End -->


<!-- Products Start -->

<!-- Products End -->
</div>