<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
    <meta charset="utf-8">
    <title>HiddenPiece</title>
</head>

<div layout:fragment="content">
    <!-- Cart Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-lg-15 table-responsive mb-5">
            	<h2>입찰중인 상품</h2><br>
            	<th:block th:if="${paging.Cri.tag}==0">
            		<input type = "checkbox" name = "tag" value = "0" onclick='checkOnlyOne(this); sendinfo(this)' checked>전체
            		<input type = "checkbox" name = "tag" value = "1" onclick='checkOnlyOne(this); sendinfo(this)'>진행중
            		<input type = "checkbox" name = "tag" value = "2" onclick='checkOnlyOne(this); sendinfo(this)'>완료
            		<input type = "hidden" id = "checkedValue" value="0">
            	</th:block>
            	<th:block th:if="${paging.Cri.tag}==1">
            		<input type = "checkbox" name = "tag" value = "0" onclick='checkOnlyOne(this); sendinfo(this)'>전체
            		<input type = "checkbox" name = "tag" value = "1" onclick='checkOnlyOne(this); sendinfo(this)' checked>진행중
            		<input type = "checkbox" name = "tag" value = "2" onclick='checkOnlyOne(this); sendinfo(this)'>완료
            		<input type = "hidden" id = "checkedValue" value="1">
            	</th:block>
            	<th:block th:if="${paging.Cri.tag}==2">
            		<input type = "checkbox" name = "tag" value = "0" onclick='checkOnlyOne(this); sendinfo(this)'>전체
            		<input type = "checkbox" name = "tag" value = "1" onclick='checkOnlyOne(this); sendinfo(this)'>진행중
            		<input type = "checkbox" name = "tag" value = "2" onclick='checkOnlyOne(this); sendinfo(this)' checked>완료
            		<input type = "hidden" id = "checkedValue" value="2">
            	</th:block>
            	<input type = "hidden" id="id" th:value="${session.mvo.id}">
                <table class="table table-light table-borderless table-hover text-center mb-0" style="width:100%; text-align: center; align-content: text;" >
                    <thead class="thead-dark">
                        <tr>
                            <th style="width: 40%;">글제목</th>
                            <th>현재입찰자</th>
                            <th>현재입찰가</th>
                            <th>즉시구매가</th>
                            <th>남은시간</th>
                            <th>경매 현황</th>              
                        </tr>
                    </thead>
                    <tbody class="align-middle" th:each="post:${biddingList}">
                        <tr>
                        	<td><a th:href="@{findAuctionBoardPostDetail?postNo=} + ${post.postNo}" th:text="${post.title}" onclick='checkOnlyOne(this); sendinfo()'>제목</a></td>
                        	<td th:text="${post.nowId}">현재입찰자</td>
                        	<td th:text="${post.currentPrice}">현재입찰가</td>
                        	<td th:text="${post.sellPrice}">즉시구매가</td>
                        	<td th:text="${post.endDate}">남은시간</td>
                        	<th:block th:if="${post.postStatus==1}">
                        	<td>진행중</td>
                        	</th:block>
                        	<th:block th:if="${post.postStatus==2}">
                        	<td>완료</td>
                        	</th:block>
                        	<th:block th:if="${post.postStatus==3}">
                        	<td>유찰</td>
                        	</th:block>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-12">
                    <nav>
                    	<ul class="pagination justify-content-center">
							<th:block th:if="${paging.prev}">
								<li class="page-item active"><a class="page-link" th:onclick="sendinfoPagination([[${paging.startPage}]]-1)">Pre</a></li>
							</th:block>
							<th:block th:if="${#numbers.formatInteger(paging.startPage,1)<#numbers.formatInteger(paging.endPage,1)}">
								<th:block th:each="num : ${#numbers.sequence(paging.startPage,paging.endPage)}" var="num">
									<li class="page-item"><a class="page-link" th:onclick="sendinfoPagination([[${num}]])" th:text="${num}"></a></li>
								 </th:block>
							 </th:block>
							 <th:block th:if="${paging.next && paging.endPage>0}">
							 	<li class="page-item active"><a class="page-link"  th:onclick="sendinfoPagination([[${paging.startPage}]]+1)">Next</a></li>
							 </th:block>
						</ul> 	
					</nav>
				</div>
    </div>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script type="text/javascript">
	function checkOnlyOne(element) {
		const checkboxes = document.getElementsByName("tag");
		checkboxes.forEach((cb) => {
			cb.checked = false;
		})
		element.checked = true;
	}
	function sendinfo(element) {
		let id = document.getElementById("id").value;
		let tag = element.value;
		location.href="buyingMyPage?tag="+tag+"&id="+id;
	}
	function sendinfoPagination(element) {
		let tag = document.getElementById("checkedValue").value;
		let id = document.getElementById("id").value;
		location.href="buyingMyPage?tag="+tag+"&id="+id+"&page="+element;
	}
	</script>
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>
</div>
</html>