<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
    <meta charset="utf-8">
    <title>HiddenPiece</title>
</head>

<div layout:fragment="content">
    <!-- Cart Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-lg-10 table-responsive mb-5" style="padding-left:250px;">
            	<h2>입찰중인 상품</h2><br>
                <table class="table table-light table-borderless table-hover text-center mb-0" style="width:100%; text-align: center; align-content: text;" >
                    <thead class="thead-dark">
                        <tr>
                            <th>글제목</th>
                            
                            <th>현재입찰자</th>
                            <th>현재입찰가</th>
                            <th>즉시구매가</th>
                            <th>남은시간</th>
                            <th>상품 현황</th>
                            
                        </tr>
                    </thead>
                    <tbody class="align-middle" th:each="wl:${mywishlist}">
                        <tr>
                        <th:block th:if="${wl.postStatus}!=0">
                            <td style="cursor:pointer;" th:onclick="|location.href='@{/findAuctionBoardPostDetail(postNo=${wl.postNo})}'|"  class="align-middle"><img th:src="@{/img/}+ ${wl.photo}" style="width: 50px;" th:text="${wl.title}"></td>
                            
                            <td class="align-middle" th:text="${wl.nowId}">현재 입찰자
                              
                               <!--  <div class="input-group quantity mx-auto" style="width: 100px;">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-primary btn-minus" >
                                        <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <input type="text" class="form-control form-control-sm bg-secondary border-0 text-center" value="1">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-primary btn-plus">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                             -->
                            <td class="align-middle" th:text="${wl.currentPrice}">$150</td>
                            <td class="align-middle" th:text="${wl.sellPrice}"></td>
                            <td class="align-middle" th:text="${wl.endDate}"></td>
                            <th:block th:switch="${wl.postStatus}">
                            <th:block th:case=1>
                            	<td class="align-middle">진행중</td>
                            </th:block>
                            <th:block th:case=2>
                            	<td class="align-middle">경매완료</td>
                            </th:block>
                            <th:block th:case=3>
                            	<td class="align-middle">시간만료</td>
                            </th:block>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Cart End -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script type="text/javascript">
	</script>

	
	

    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->


</div>
</html>