<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<!--/* 위 선언은 타임리프 레이아웃을 사용하기 위한 설정   */-->
<head>
<title>HiddenPiece</title>
</head>
<div layout:fragment="content">


	<!-- Checkout Start -->
				<form action="" th:action="@{/exchangePoint}" method="post" id="exchangePoint">
	<div class="container-fluid">
		<div class="row px-xl-5">
			<div class="col-lg-8">
				<h5 class="section-title position-relative text-uppercase mb-3">
					<span class="bg-secondary pr-3">포인트충전</span>
				</h5>
				<div class="bg-light p-30 mb-5">
					<div class="row">
						<div class="col-md-6 form-group">
							<label>이름</label> <input class="form-control" type="text" name="name"
								th:value="${session.mvo.name}" readonly="readonly">
						</div>
						<div class="col-md-6 form-group">
							<label>충전할 포인트</label> <input class="form-control" type="number" name="balance"
								value="" onchange="reloadResullt()" >
						</div>
						<div class="col-md-6 form-group">
							<label>은행명</label> <input class="form-control" type="text" name="bank"
								>
						</div>
						<div class="col-md-6 form-group">
							<label>계좌번호</label> <input class="form-control" type="text" name="accountNo"
								th:value="${session.mvo.accountNo}" id="accountNo" readonly="readonly">

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row px-xl-5">
			<div class="col-lg-8">
				<h5 class="section-title position-relative text-uppercase mb-3">
					<span class="bg-secondary pr-3">충전</span>
				</h5>
				<div class="border-bottom pt-3 pb-2">
						<div class="d-flex justify-content-between mb-3">
							<h6>잔액</h6>
							<h6><span id="ajaxPoint" ></span></h6>
</div></div>
					<div class="border-bottom pt-3 pb-2">
						<div class="d-flex justify-content-between mb-3">
							<h6>충전가능금액</h6>
							<h6><span id="point1"></span></h6>
						</div>

					</div>
					<div class="pt-2">
						<div class="d-flex justify-content-between mt-2">
							<h5>충전 후 포인트</h5>
							<h5><span id="ajaxPoint1"></span></h5>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br><br>
		<div class="container-fluid">
			<div class="row px-xl-5">
				<div class="col-lg-8">
					<h5 class="section-title position-relative text-uppercase mb-3">
						<span class="bg-secondary pr-3">결제</span>
					</h5>
					<div class="bg-light p-30">
							<button class="btn btn-block btn-primary font-weight-bold py-3">충전하기</button>
					</div>
				</div>
			</div>
		</div>
</form>
<input type = "hidden" th:value = "${session.mvo.point}" name = "mpoint">
	<script type="text/javascript">
	$(function(){
		let checkPointFlag="";
		
		$("#exchangePoint").submit(function(){
			if(checkPointFlag == ""){
				alert("계좌잔액을 확인하세요");
				return false;
			}
		});
		
		let pointKeyUp = $("input[name=balance]");
		pointKeyUp.keyup(function(){
			let accountNo = $("#accountNo").val();
			let point = pointKeyUp.val();
			checkPointFlag = "";
			$.ajax({
				type:"get",
				url:"ajaxBalanceCheck",
				data:"accountNo="+accountNo,
				success:function(result){
					if(result>=point){
						let balance = numberWithCommas(result-point)
						$("#ajaxPoint").text(balance+"원");
						checkPointFlag =pointKeyUp.val();
					}
					else {
						$("#ajaxPoint").text("계좌잔액을 초과합니다");
					}
				}
			});
		});
		
    	pointKeyUp.keyup(function(){
			let point = pointKeyUp.val()*1;
			let impoint = $("input[name=mpoint]").val()*1;
			let Rechargeable = numberWithCommas(point);
			let Result = numberWithCommas(point+impoint);
			$("#point1").text(Rechargeable+"원");
     	   	$("#ajaxPoint1").text(Result+"원");
    	});
		
    	
    	function numberWithCommas(val) {
    		return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    	}
	});
	</script>
</div>



