<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<!--/* 위 선언은 타임리프 레이아웃을 사용하기 위한 설정   */-->
<head>
<title>HiddenPiece</title>
</head>
<div layout:fragment="content">


	<!-- Checkout Start -->
						<form action="" th:action="@{/transferToAccount}" id="transferAccount" method = "post">
	<div class="container-fluid">
		<div class="row px-xl-5">
			<div class="col-lg-8">
				<h5 class="section-title position-relative text-uppercase mb-3">
					<span class="bg-secondary pr-3">계좌로 환전하기</span>
				</h5>
				<div class="bg-light p-30 mb-5">
					<div class="row">
						<div class="col-md-6 form-group">
						<input type = "hidden" value = "" th:value="${session.mvo.id}" id="id" name = "id">
							<label>이름</label> <input class="form-control" type="text"
								th:value="${session.mvo.name}" id = "name" name = "name" readonly="readonly">
						</div>
						<div class="col-md-6 form-group">
							<label>환전할 포인트</label> <input class="form-control" type="number"
							 value = "" name="point" id="point">
						</div>
						<div class="col-md-6 form-group">
							<label>은행명</label> <input class="form-control" type="text"
								id = "bank" name="bank">
						</div>
						<div class="col-md-6 form-group">
							<label>계좌번호</label> <input class="form-control" type="text"
								id = "accountNo" name="accountNo" th:value="${session.mvo.accountNo}" readonly="readonly">

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row px-xl-5">
			<div class="col-lg-8">

				<div class="bg-light p-30 mb-5">
					<div class="border-bottom">
						<h6 class="mb-3">계좌환전</h6>
						<p></p>
					</div>
					<div class="border-bottom pt-3 pb-2">
						<div class="d-flex justify-content-between mb-3">
							<h6>포인트 잔액</h6>
							<h6><span id="ajaxPoint1"></span></h6>
						</div>
					</div>
					<div class="border-bottom pt-3 pb-2">
						<div class="d-flex justify-content-between mb-3">
							<h6>환전할 포인트</h6>
							<h6><span id="point1"></span></h6>
						</div>
					</div>
					<div class="pt-2">
						<div class="d-flex justify-content-between mt-2">
							<h5>총계</h5>
							<h5><span id="ajaxPoint"></span></h5>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row px-xl-5">
				<div class="col-lg-8">
					<h5 class="section-title position-relative text-uppercase mb-3">
						<span class="bg-secondary pr-3">결제</span>
					</h5>
					<div class="bg-light p-30">
							<button class="btn btn-block btn-primary font-weight-bold py-3">환전하기</button>
					</div>
				</div>
		

			</div>

		</div>
	</div>
						</form>
     <script type="text/javascript" th:inline="javascript">
         $(function(){
            let pointKeyUp = $("input[name=point]")
			
        	 let checkPointFlag = "";
        	 $("#transferAccount").submit(function() {
        	 	if(checkPointFlag ==""){
        	 		alert("포인트 잔액을 확인하세요");
        	 		return false;
        	 	}   
        	 	});
            pointKeyUp.keyup(function(){
            	let id = $("#id").val();
            	let point = pointKeyUp.val();
            	checkPointFlag = "";
            	$.ajax({
    				type:"get",
    				url:"ajaxPointCheck",
    				data:"id="+id,
    				success:function(result){
    					if(result>=point){
    						
    						$("#ajaxPoint1").text(numberWithCommas(result-point).replace(/(^0+)/, "")+"원");
    						checkPointFlag=pointKeyUp.val();
    					}
    					else {
    						$("#ajaxPoint1").text("포인트 잔액을 초과합니다");
    					}
    				}
    			});
    		});
        	 
        	 
            	pointKeyUp.keyup(function(){
					let point = pointKeyUp.val();
				$("#point1").text(numberWithCommas(point).replace(/(^0+)/, "")+"원");
                 $("#ajaxPoint").text(numberWithCommas(point).replace(/(^0+)/, "")+"원");
                 
        	 });
            	
           	function numberWithCommas(val) {
           		return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
           	}
         });
      </script>		
						
	<!-- Checkout End -->
</div>



















