<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
    <meta charset="utf-8">
    <title>HiddenPiece</title>
</head>

<div layout:fragment="content">
    <!-- Cart Start -->
    <div class="container-fluid">
        <div align="center">
            <div>
            	<h2>찜목록</h2><br>
                <table class="table table-light table-borderless table-hover text-center mb-0" style="width:80%; text-align: center; align-content: text; table-layout: fixed;" >
                    <thead class="thead-dark">
                        <tr>
                            <th>글 제목</th>                    
                            <th>현재 입찰자</th>
                            <th>현재 입찰가</th>
                            <th>즉시 구매가</th>
                            <th>종료 시간</th>
                            <th>상품 현황</th>
                            <th>찜 취소</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle" th:each="wl:${mywishlist}">
                        <tr>
                        <th:block th:if="${wl.postStatus}!=0">
                            <td style="cursor:pointer;" th:onclick="|location.href='@{/findAuctionBoardPostDetail(postNo=${wl.postNo})}'|" class="align-middle">
                            <br>
                            <span th:text="${wl.title}"></span>
                            </td>
                            
                            <td class="align-middle" th:text="${wl.nowId}">현재 입찰자
                              
                               <!--  <div class="input-group quantity mx-auto" style="width: 100px;">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-primary btn-minus" >
                                        <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <input type="text" class="form-control form-control-sm bg-secondary border-0 text-center" value="1">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-primary btn-plus">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                             -->
                            <td class="align-middle" th:text="${wl.currentPrice}">$150</td>
                            <td class="align-middle" th:text="${wl.sellPrice}"></td>
                            <td class="align-middle" th:text="${wl.endDate}"></td>
                            <th:block th:switch="${wl.postStatus}">
                            <th:block th:case=1>
                            	<td class="align-middle">진행중</td>
                            </th:block>
                            <th:block th:case=2>
                            	<td class="align-middle">경매완료</td>
                            </th:block>
                            <th:block th:case=3>
                            	<td class="align-middle">시간만료</td>
                            </th:block>
                            </th:block>
                            <td class="align-middle"><button class="btn btn-sm btn-danger" id="deleteFromWishlistBtn" th:onclick="deleteFromWishlist([[${wl.postNo}]], [[${session.mvo.id}]])"><i class="fa fa-times"></i></button></td>
                            </th:block>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Cart End -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script type="text/javascript">
	</script>

	
	

    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript">
    	/* 찜 취소  */
    	function deleteFromWishlist(postNo, id){
    		let result = confirm("찜 목록에서 제외하시겠습니까?");
    		if(result){
	    		$.ajax({
	    			type:"get",
	    			url:"deleteFromWishlist",
	    			data:{
	    				"postNo":postNo,
	    				"id":id
	    			},
	    			success:function(result){
	    				location.reload();
	    			}
	    		})
    		}
    	}
    </script>

</div>
</html>